In [45]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
csvFile = pd.read_csv('C:\\Users\\Student\\Downloads\\weight-height.csv')
print(csvFile)

         Height      Weight
0     73.847017  241.893563
1     68.781904  162.310473
2     74.110105  212.740856
3     71.730978  220.042470
4     69.881796  206.349801
...         ...         ...
9995  66.172652  136.777454
9996  67.067155  170.867906
9997  63.867992  128.475319
9998  69.034243  163.852461
9999  61.944246  113.649103

[10000 rows x 2 columns]

In [40]:
df = pd.DataFrame(csvFile)
df

         Height      Weight
0     73.847017  241.893563
1     68.781904  162.310473
2     74.110105  212.740856
3     71.730978  220.042470
4     69.881796  206.349801
...         ...         ...
9995  66.172652  136.777454
9996  67.067155  170.867906
9997  63.867992  128.475319
9998  69.034243  163.852461
9999  61.944246  113.649103

[10000 rows x 2 columns]

In [41]:
X = df.iloc[:, :-1].values
X

array([[73.84701702],
       [68.78190405],
       [74.11010539],
       ...,
       [63.86799221],
       [69.03424313],
       [61.94424588]])

In [42]:
y = df.iloc[:, 1].values
y

array([241.8935632, 162.3104725, 212.7408556, ..., 128.4753188,
       163.8524613, 113.6491027])

In [46]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=17)

In [48]:
X_train.size

7000

In [49]:
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [61]:
y_pred=lr.predict([[66]]) #inches
y_pred1=lr.predict([[175*0.393701]])  # cm

In [67]:
print(y_pred*0.45359237)   # pound to kg
print(y_pred1*0.45359237)  # pound to kg

[71.95533625]
[82.06382762]